@charset "utf-8";

/* top
----------------------------------------- */
#mainVisual {
	margin-bottom: 30px;
	text-align: center;
}
#mainVisual img {
	width: 100%;
	max-width: 480px;
	height: auto;
}
#mainVisual .pc {
	display: none;
}
#mainVisual .sp {
	display: block;
}

/* sevice */
#sevice {
	margin-bottom: 60px;
	padding: 0 30px;
}
#sevice section {
	margin-bottom: 40px;
}
#sevice section.last {
	margin-bottom: 0;
}
#sevice section .icon {
	margin-bottom: 20px;
	text-align: center;
}
#sevice section .icon img {
	width: 49px;
	height: 51px;
}

/* works */
#works {
	margin-bottom: 70px;
	padding: 0 20px;
}
#works li {
	margin-bottom: 40px;
	text-align: center;
}
#works li:last-child {
	margin-bottom: 0;
}
#works li img{
	width: 280px;
	height: 260px;
}

/* blog */
#blog {
	margin-bottom: 30px;
	padding: 0 30px;
}
#blog li {
	margin-bottom: 40px;
	text-align: right;
}
#blog li:last-child {
	margin-bottom: 0;
}
#blog .photo {
	margin-bottom: 30px;
	text-align: center;
}
#blog .photo img {
	width: 280px;
	height: 260px;
}
#blog .cont {
	margin-bottom: 20px;
	text-align: left;
}
#blog .detail {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding: 8px 12px;
	background-color: #eee;
	letter-spacing: 0.1em;
}




/* タブレット向け：760px～960px */
@media only screen and (min-width: 760px) {

/* mainVisual */
#mainVisual {
	margin-bottom: 80px;
	background-color: #ecebeb;
	text-align: center;
}
#mainVisual img {
	max-width: 960px;
	height: auto;
}

/* top */
#mainVisual .pc {
	display: block;
}
#mainVisual .sp {
	display: none;
}

/* sevice */
#sevice {
	max-width: 920px;
	margin: 0 5% 130px 5%;
	padding: 0;
}
#sevice section {
	float: left;
	width: 30%;
	height: auto;
	margin-right: 5%;
}
#sevice section.last {
	margin-right: 0;
}
#sevice section .icon {
	margin-bottom: 40px;
	text-align: center;
}
#sevice section .icon img {
	width: 98px;
	height: 102px;
}
#sevice section {
	margin-bottom: 0;
}
#sevice section.last {
	margin-bottom: 0;
}

#main h3.ttl {
	margin-bottom: 16px;
	font-size: 22px;
}
#main p.ttl {
	margin-bottom: 45px;
	font-size: 12px;
	letter-spacing: 0.1em;
}

/* works */
#works {
	max-width: 920px;
	margin: 0 5% 150px 3%;
	padding: 0;
}
#works li{
	box-sizing: border-box;
	display: inline-block;
	width: 30%;
	margin-right: 5%;
	margin-bottom: 60px;
	border: 1px solid #e0e0e0;
	vertical-align: top;
}
#works li:nth-child(3n){
	margin-right: 0;
}
#works li img{
	width: 100%;
	height: auto;
}


/* blog */
#blog {
	max-width: 920px;
	margin: 0 5% 50px 5%;
	padding: 0;
}
#blog li {
	display: inline-block;
	width: 30%;
	margin-right: 5%;
	margin-bottom: 60px;
	vertical-align: top;
}
#blog  li:nth-child(3n){
	margin-right: 0;
}

#blog .photo img {
	width: 100%;
	height: auto;
}
#blog .cont {
	margin-bottom: 20px;
}
#blog .detail {
	padding: 8px 12px;
	background-color: #eee;
}
.toTop a {
	display: block;
	width: 24px;
	margin: 0 auto 20px auto;
	padding: 8px 20px;
}

} /* タブレット向け */




/* PC向けレイアウトの指定：961px～ */
@media only screen and (min-width: 961px) {
	
/* sevice */
#sevice {
	width: 920px;
	margin: 0 auto 130px auto;
	padding: 0;
}
#sevice section {
	float: left;
	width: 280px;
	height: auto;
	margin-right: 40px;
}
#main h2.ttl {
	margin-bottom: 65px;
	font-size: 50px;
}
#main h3.ttl {
	font-size: 25px;
}
#main p.ttl {
	font-size: 14px;
}

/* works */
#works {
	width: 920px;
	margin: 0 auto 150px auto;
	padding: 0;
}
#works li{
	width: 280px;
	margin-right: 40px;
}

/* blog */
#blog {
	width: 920px;
	margin: 0 auto 50px auto;
	padding: 0;
}
#blog li {
	width: 280px;
	margin-right: 40px;
}

} /* PC向け */







.heading {
    position: relative;
    display: inline-block;
    margin: 30px 0 15px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 3rem;
}
.heading::before,
.heading::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #999;
}
.heading::before {
    bottom: 5px;
}
.button {
    display: inline-block;
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    background-color: #afa58d;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.9rem;
}
.button:hover {
    opacity: 0.9;
}
.button-showy {
    background-color: #D29E04;
}
.button-ghost {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.15);
}
.home {
	text-align: center;
	background-image: url(picture/sky_0024_r.jpg);
	background-position: center;
	background-size: cover;
	object-fit: cover;
}
.hometag1 {
	font-size: 230%;
	line-height: 3.0em;
}
.hometag2 {
	font-size: 230%;
	line-height: 3.0em;
}
.hometag3 {
	font-size: 230%;
	line-height: 3.0em;
}
.hometag4 {
	font-size: 230%;
	line-height: 3.0em;
}

.work {
	padding: 20px 0;
	background-size: cover;
	color: black;
	text-align: center;
	font-size: 1.1rem;
	font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
	}


.works-wrapper {
	display: table;
	width: 100%;
	margin-top: 60px;
	table-layout: fixed;
}
.work-box {
	position: relative;
	display: table-cell;
}
.work-image {
	display: block;
	width: 100%;
	margin: 0 0 60%;
}
.work-description {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 50%;
	overflow-y: auto;
}
.work-description-inner {
	display: table;
	width: 100%;
	height: 100%;
	padding: 10px;
}
.work-text {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-size: 0.9rem;
	line-height: 2;
}

.work-text .button {
	width: 60%;
	margin-top: 20px;
	padding: 3px;
}
.work-box::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: no-repeat;
	background-size: 100% 100%;
	opacity: 0.2;
	transform: scaleY(-1);
}
.work-box.tree::after {
	background-image: url(picture/tree.jpg);
}
.work-box.building::after {
	background-image: url(picture/building.jpg);
}
.work-box.lake::after {
	background-image: url(picture/lake.jpg);
}
.work-box.sky::after {
	background-image: url(picture/sky.jpg);
}
.work-box:nth-child(odd) .work-image {
	margin: 60% 0 0;
}
.work-box:nth-child(odd) .work-description,
.work-box:nth-child(odd)::after {
	top: 0;
}

